#content{
    margin-left:170px;
    padding-bottom:20px;
}
#contenttop{
    margin-top:5px;
}
#contentleft{
    width:120px;
    background:#eee;
    border:1px solid #ccc;
    margin-top:5px;

    font-size:13px;
}
#contentleft dt{
    padding-top:25px;
    text-align:center;
}
#contentleft dd{
    padding-top:25px;
    text-align:right;
    padding-right:10px;
}
#contentleft a{
    text-decoration:none;
    color:#666;
}
#contentleft a:hover{
    color:red;
}
#systeminfomation{
    padding-bottom:25px;
}
#contentleft{
    float:left;
}
#contentright{
    float:right;
}
#contentright .title{
    display:inline-block;
    height:45px;
    width:100px;
    text-align:right;
    margin-right:15px;
    font-size:14px;
    color:#666;
}
#contentright input{
    width:210px;
    height:40px;
}
#contentright button{
    width:60px;
    height:30px;
    background:none;
    border:1px solid #bbb;
}
#submit{
    margin-left:120px;
}
#footer{
    clear:both;
    margin-top:20px;
}