#content{
    margin-left:170px;
    padding-bottom:20px;
    margin-bottom:40px;
}
#contenttop{
    margin-top:5px;
}
#contentleft{
    width:120px;
    background:#eee;
    border:1px solid #ccc;
    margin-top:5px;
    margin-bottom:40px;
    font-size:13px;
}
#contentleft dt{
    padding-top:25px;
    text-align:center;
}
#contentleft dd{
    padding-top:25px;
    text-align:right;
    padding-right:10px;
}
#contentleft a{
    text-decoration:none;
    color:#666;
}
#contentleft a:hover{
    color:red;
}
#systeminfomation{
    padding-bottom:25px;
}
#contentleft{
    float:left;
}

#contentright{
    float:left;
    margin-left:90px;
    margin-top:25px;
}
#contentright #text{
    width:400px;
    height:200px;
    border:1px solid #aaa;

}
#contentright button{
    width:50px;
    height:30px;
    background:cornflowerblue;
    border:none;
    color:white;
}
#submit{
    margin-left:340px;
    margin-top:20px;
}
#footer{
    clear:both;
    margin-top:20px;
}
